<template>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{titleForm}}</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <template v-if="typeAction == 1">
            <show-user :iuser="iuser"></show-user>
          </template>
          <template v-else>
            <ValidationObserver ref="form">
              <form method="post" id="demo-form" data-parsley-validate>
                <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider
                    tag="div"
                    name="Nro C.I."
                    rules="required|numeric"
                    v-slot="{ errors }"
                  >
                    <label
                      v-bind:class="errors[0]||err.identity_card? 'text-danger':''"
                      for="identity_card"
                    >Nro C.I.</label>
                    <input
                      v-model="iuser.identity_card"
                      type="text"
                      id="identity_card"
                      class="form-control"
                      required
                    />
                    <span class="text-danger">{{ errors[0]}}</span>
                  </ValidationProvider>
                  <template v-show="err.identity_card">
                    <div v-for="e in err.identity_card" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider
                    tag="div"
                    name="Expedido"
                    rules="required|excluded:0"
                    v-slot="{ errors }"
                  >
                    <label
                      v-bind:class="errors[0]||err.expended? 'text-danger':''"
                      for="expended"
                    >Expedido*:</label>
                    <select v-model="iuser.expended" id="expended" class="form-control" required>
                      <option value="0">Selecciona</option>

                      <option value="BNI">Beni</option>
                      <option value="CHU">Chuquisaca</option>
                      <option value="CBBA">Cochabmba</option>
                      <option value="LP">La Paz</option>
                      <option value="OR">Oruro</option>
                      <option value="PN">Pando</option>
                      <option value="PT">Potosi</option>
                      <option value="SC">Santa Cruz</option>
                      <option value="TJ">Tarija</option>
                    </select>
                    <span class="text-danger">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <template v-show="err.expended">
                    <div v-for="e in err.expended" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider
                    tag="div"
                    name="Nombres"
                    rules="required|alpha_spaces"
                    v-slot="{ errors }"
                  >
                    <label v-bind:class="errors[0]||err.name? 'text-danger':''" for="name">Nombres :</label>
                    <input
                      v-model="iuser.name"
                      type="text"
                      id="name"
                      class="form-control"
                      name="name"
                      required
                    />
                    <span class="text-danger">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <template v-show="err.name">
                    <div v-for="e in err.name" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider
                    tag="div"
                    name="Apellidos"
                    rules="required|alpha_spaces"
                    v-slot="{ errors }"
                  >
                    <label
                      v-bind:class="errors[0]||err.last_name? 'text-danger':''"
                      for="last_name"
                    >Apellidos</label>
                    <input
                      v-model="iuser.last_name"
                      type="text"
                      id="last_name"
                      class="form-control"
                      name="last_name"
                      data-parsley-trigger="change"
                      required
                    />
                    <span class="text-danger">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <template v-show="err.last_name">
                    <div v-for="e in err.last_name" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                  <label
                    v-bind:class="err.username? 'text-danger':''"
                    for="phone"
                  >Telefono/Celular * :</label>
                  <input
                    v-model="iuser.phone"
                    type="number"
                    id="phone"
                    class="form-control"
                    name="phone"
                    data-parsley-trigger="change"
                    required
                  />
                  <template v-show="err.phone">
                    <div v-for="e in err.phone" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider
                    tag="div"
                    name="Email"
                    rules="required|email"
                    v-slot="{ errors }"
                  >
                    <label
                      v-bind:class="errors[0]||err.email? 'text-danger':''"
                      for="email"
                    >Email * :</label>
                    <input
                      v-model="iuser.email"
                      type="email"
                      id="email"
                      class="form-control"
                      name="email"
                      data-parsley-trigger="change"
                      required
                    />
                    <span class="text-danger">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <template v-show="err.email">
                    <div v-for="e in err.email" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider tag="div" name="Usuario" rules="required" v-slot="{ errors }">
                    <label
                      v-bind:class="errors[0]||err.username? 'text-danger':''"
                      for="username"
                    >Usuario</label>
                    <input
                      v-model="iuser.username"
                      type="text"
                      id="username"
                      class="form-control"
                      name="username"
                      data-parsley-trigger="change"
                      required
                    />
                    <span class="text-danger">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <template v-show="err.username">
                    <div v-for="e in err.username" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <template v-if="typeAction==2">
                  <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                    <label for="password">Contraseña</label>

                    <div class="checkbox">
                      <label>
                        <input
                          @change="defaultPassword()"
                          v-model="iuser.reset_password"
                          type="checkbox"
                          class="flat"
                        /> Resetear Contraseña por defecto
                      </label>
                    </div>
                  </div>
                </template>

                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <ValidationProvider tag="div" name="Rols" rules="required" v-slot="{ errors }">
                    <label
                      v-bind:class="errors[0]||err.full_access? 'text-danger':''"
                      class="typo__label"
                    >Roles*</label>
                    <multiselect
                      v-model="iuser.roles_id"
                      :options="roles"
                      :multiple="true"
                      :searchable="true"
                      :close-on-select="false"
                      :clear-on-select="false"
                      :preserve-search="true"
                      open-direction="bottom"
                      :optionHeight="5"
                      selectLabel="Precione enter para seleccionar"
                      deselectLabel="Precione enter para deseleccionar"
                      selectedLabel="Seleccionado"
                      :limitText="count => ` ${count} permisos seleccionados  `"
                      placeholder="Puede selecionar mas de un rol"
                      label="name"
                      track-by="name"
                      :hide-selected="true"
                    ></multiselect>
                    <span class="text-danger">{{ errors[0]}}</span>
                  </ValidationProvider>
                  <template v-show="err.roles_id">
                    <div v-for="e in err.roles_id" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>

                <template v-if="typeAction==1">
                  <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                    <label for="password">Fecha Creacion</label>
                    <input
                      v-model="iuser.created_at"
                      type="text"
                      id="created_at"
                      class="form-control"
                      name="created_at"
                      required
                    />
                  </div>
                  <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                    <label for="password">Fecha Edicion</label>
                    <input
                      v-model="iuser.updated_at"
                      type="text"
                      id="created_at"
                      class="form-control"
                      name="created_at"
                      required
                    />
                  </div>
                </template>
                <br />
                <div v-if="typeAction!=1" class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <p>
                    <em>* campos importantes!</em>
                  </p>
                  <p>
                    <em>La contraseña por defecto es 12345678 el usuario debe de cambiar obligatoriamente</em>
                  </p>
                </div>
              </form>
            </ValidationObserver>
          </template>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              @click="closeForm(false)"
            >Cerrar</button>
            <button
              v-show="typeAction!=1"
              @click="validateForm()"
              type="button"
              class="btn btn-primary"
            >{{typeAction==3?'Guardar':'Actualizar'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import Vue from "vue";
//fin importar el  show de modelo

// inicio importar vee validate
import {
  ValidationObserver,
  ValidationProvider,
  extend,
  localize,
} from "vee-validate";
// import { ValidationObserver, ValidationProvider, extend, localize } from 'vee-validate';

// import { extend } from 'vee-validate';
import * as rules from "vee-validate/dist/rules";
import { messages } from "vee-validate/dist/locale/es.json";

extend("nullable", {
  validate: (value) => {
    return true;
  },
});
Object.keys(rules).forEach((rule) => {
  extend(rule, {
    ...rules[rule], // copies rule configuration
    message: messages[rule], // assign message
  });
});
Vue.component("ValidationObserver", ValidationObserver);
Vue.component("ValidationProvider", ValidationProvider);
// fin de de importar vee validate

import Multiselect from "vue-multiselect";
Vue.component("show-user", require("./ShowUser.vue").default);

export default {
  props: ["iuser", "titleForm", "typeAction", "modal"],
  mounted() {
    console.log("Component mounted Form.");
    this.listRoles();
  },
  data() {
    return {
      roles: [],
      err: "",
    };
  },

  methods: {
    notificationSuccess() {
      new PNotify({
        title: "Regular Success",
        text: "That thing that you were trying to do worked!",
        type: "success",
        styling: "bootstrap3",
      });
    },
    notificationError() {
      new PNotify({
        title: "Oh No!",
        text: "Something terrible happened.",
        type: "error",
        styling: "bootstrap3",
      });
    },

    validateForm() {
      this.$refs.form.validate().then((success) => {
        if (!success) {
          return;
        }
        if (this.typeAction == 3) {
          this.create();
        } else if (this.typeAction == 2) {
          this.update();
        }
        // alert('Form has been submitted!');

        // Resetting Values

        // Wait until the models are updated in the UI
        this.$nextTick(() => {
          this.$refs.form.reset();
        });
      });
    },
    closeForm(ac) {
      let data = {
        acction: ac,
        modal: !this.modal,
      };
      this.$emit("closeForm", data);

      //   this.$nextTick(() => {
      //     this.$refs.form.reset();
      //   });
    },
    takeId(ps) {
      let pss = [];
      ps.forEach((p) => {
        pss.push(p.id);
      });
      return pss;
    },
    update() {
      //modifica en la base de datos la informacion de un usuario existente
      let me = this;
      let selected_id = me.takeId(me.iuser.roles_id);
      console.log("role");

      console.log(me.iuser.roles_id);
      console.log("role_id");

      console.log(selected_id);
      axios
        .put("user/update", {
          name: me.iuser.name,
          last_name: me.iuser.last_name,
          identity_card: me.iuser.identity_card,
          expended: me.iuser.expended,
          phone: me.iuser.phone,
          email: me.iuser.email,
          username: me.iuser.username,
          password: me.iuser.password,
          roles_id: selected_id,
          roles: me.iuser.roles,
          id: me.iuser.id,
          reset_password: me.iuser.reset_password,
        })
        .then(function (response) {
          //   me.closeForm();

          me.closeForm(true);
        })
        .catch(function (error) {
          // handle error
          me.err = error.response.data.errors;

          console.log(error);
        });
    },
    create() {
      // guarda en la base de datos a un nuevo usuario

      let me = this;
      let selected_id = me.takeId(me.iuser.roles_id);
      console.log("role");

      console.log(me.iuser.roles_id);
      console.log("role_id");

      console.log(selected_id);
      axios
        .post("user/store", {
          name: me.iuser.name,
          last_name: me.iuser.last_name,
          identity_card: me.iuser.identity_card,
          expended: me.iuser.expended,
          phone: me.iuser.phone,
          email: me.iuser.email,
          username: me.iuser.username,
          password: me.iuser.password,
          roles_id: selected_id,
          roles: me.iuser.roles,
        })
        .then(function (response) {
          me.closeForm(true);
        })
        .catch(function (error) {
          // handle error
          me.err = error.response.data.errors;
          console.log(error);
        });
    },

    listRoles() {
      //lista de roles que se mostrara en el formulario
      let me = this;
      let url = "/get/roles";
      axios.get(url).then(function (response) {
        var answer = response.data;
        me.roles = answer.roles;
        // console.log(me.auth.userAuthentication);
      });
    },
    defaultPassword() {
      if (this.typeAction == 3 || this.iuser.reset_password) {
        this.iuser.password = "12345678";
      } else {
        this.iuser.password = null;
      }
    },
  },
  computed: {},
  components: {
    ValidationObserver,
    ValidationProvider,
    Multiselect,
  },
};
// (?=.*[0-9]{5})[/-][A-E]{0,2}
</script>





