
<template>
  <div class="dashboard">
    <div class="right_col" role="main">
      <div class>
        <div class="page-title">
          <div class="title_left">
            <h3>Usuarios</h3>
          </div>
        </div>

        <div class="clearfix"></div>
        <template v-if="typeAction==0">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <div class="title_left">
                    <div class="col-md-4 col-sm-6 col-xs-12 form-group top_search">
                      <div class="input-group">
                        <input
                          v-model="search"
                          type="text"
                          class="form-control"
                          placeholder="Buscar"
                        />
                        <span class="input-group-btn">
                          <button @click="index(1,search,'')" class="btn btn-default" type="button">
                            <i class="fa fa-search"></i> Buscar
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <ul v-if="slug_create" class="nav navbar-right panel_toolbox">
                    <li>
                      <button
                        type="button"
                        class="btn btn-primary"
                        @click="openForm('Agregar nuevo usuario','create')"
                      >
                        <i class="fa fa-plus"></i> Nuevo Usuario
                      </button>
                    </li>
                  </ul>

                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="table-responsive">
                    <p>{{permissionsa}}</p>

                    <table class="table table-striped jambo_table bulk_action">
                      <thead>
                        <tr class="headings">
                          <th class="column-title">#</th>
                          <th class="column-title">CI</th>
                          <th class="column-title">Nombres Apellidos</th>
                          <th class="column-title">Usuario</th>
                          <th class="column-title">Rol</th>
                          <th class="column-title">Estado</th>
                          <th class="column-title no-link last">
                            <span class="nobr">Action</span>
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr v-for="user in users" :key="user.id" class="even pointer">
                          <td>{{user.id}}</td>
                          <td class>{{user.identity_card}} ({{user.expended}})</td>
                          <td class>{{user.name}} {{user.last_name}}</td>
                          <td class>{{user.username}}</td>
                          <td class>
                            <div v-for="role in user.roles" :key="role.id">
                              <em v-text="role.name"></em>
                            </div>
                          </td>
                          <td class>
                            <span
                              v-bind:class="user.state?'label-success':'label-danger'"
                              class="label"
                              v-text="user.state?'Activo':'Inactivo'"
                            ></span>
                          </td>

                          <td class="last">
                            <button
                              v-if="slug_show"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Mostrar"
                              type="button"
                              class="btn btn-dark btn-sm"
                              @click="openForm('Mostrar informacion del usuario','view',user)"
                            >
                              <i class="fa fa-eye"></i>
                            </button> &nbsp;
                            <button
                              v-if="slug_update"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Editar"
                              type="button"
                              class="btn btn-warning btn-sm"
                              @click="openForm('Editar informacion del usuario','update',user)"
                            >
                              <i class="fa fa-pencil"></i>
                            </button> &nbsp;
                            <template v-if="user.state&&slug_active">
                              <button
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Desactivar"
                                type="button"
                                class="btn btn-danger btn-sm"
                                @click="deactivate(user.id)"
                              >
                                <i class="fa fa-trash"></i>
                              </button>
                            </template>
                            <template v-else-if="!user.state&&slug_desactive">
                              <button
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Activar"
                                type="button"
                                class="btn btn-success btn-sm"
                                @click="activate(user.id)"
                              >
                                <i class="fa fa-check"></i>
                              </button>
                            </template>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <nav>
                      <ul class="pagination">
                        <li class="page-item" v-if="pagination.current_page > 1">
                          <a
                            class="page-link"
                            href="#"
                            @click.prevent="changePage(pagination.current_page-1,search,criterion)"
                          >Ant</a>
                        </li>
                        <li
                          class="page-item"
                          v-for="page in pagesNumber"
                          :key="page"
                          :class="[page == isActived ? 'active' : '']"
                        >
                          <a
                            class="page-link"
                            href="#"
                            @click.prevent="changePage(page,search,criterion)"
                            v-text="page"
                          ></a>
                        </li>
                        <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                          <a
                            class="page-link"
                            href="#"
                            @click.prevent="changePage(pagination.current_page+1,search,criterion)"
                          >Sig</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
        <template v-else>
          <form-user
            @closeForm="closeForm"
            :iuser="iuser"
            :titleForm="titleForm"
            :typeAction="typeAction"
            :modal="modal"
            :action="action"
          ></form-user>
        </template>
      </div>
    </div>
  </div>
</template>


<script>
Vue.component("form-user", require("./FormUser.vue").default);
// Vue.component("page-title", require("../partials/PageTitle.vue").default);

//inico importar el  sweetalert2
import Swal from "sweetalert2";

import "sweetalert2/src/sweetalert2.scss";
//inico importar el  sweetalert2
export default {
  props: ["permissionsa", "usera"],
  //   props: ["iuser", "titleForm", "typeAction", "modal"],

  data() {
    return {
      // inicio de permisos de el usuario registrado
      slug_create: false,
      slug_update: false,
      slug_show: false,
      slug_active: false,
      slug_desactive: false,

      s_create: "user.create",
      s_update: "user.update",
      s_show: "user.show",
      s_active: "user.active",
      s_desactive: "user.desactive",

      // fin de permisos de el usuario registrado

      // inicio de las variables de busqueda
      criterion: "name",
      search: "",
      users: [],
      // inicio de las variables de busqueda

      // inicio de las variables de apertura de modal
      modal: false,
      action: "",
      typeAction: 0,
      titleForm: "",
      // fin de las variables de apertura de modal

      // inicio de las variables de la paginacion paginacion
      pagination: {
        total: 0,
        current_page: 0,
        per_page: 0,
        last_page: 0,
        from: 0,
        to: 0,
      },
      offset: 3,
      // fin de las variables de la paginacion paginacion

      //inicio del modelo de componente que se trabaja
      iuser: {
        id: "0",
        name: "",
        last_name: "",
        identity_card: "",
        expended: "0",
        phone: "",
        email: "",
        username: "",
        password: "",
        roles_id: [],
        state: "0",
        created_at: "",
        updated_at: "",

        roles: [],
        reset_password: false,
      },
      //fin del modelo de componente que se trabaja
    };
  },

  computed: {
    isActived: function () {
      return this.pagination.current_page;
    },
    //calcula la paginacion de los elementos
    pagesNumber: function () {
      if (!this.pagination.to) {
        return [];
      }
      var from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }
      var to = from + this.offset * 2;
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }
      var pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from++;
      }
      return pagesArray;
    },
  },

  methods: {
    canPermission() {
      let me = this;
      let url =
        "/user/authentication?create=" +
        me.s_create +
        "&show=" +
        me.s_show +
        "&update=" +
        me.s_update +
        "&active=" +
        me.s_active +
        "&desactive=" +
        me.s_desactive;
      //
      axios
        .get(url)
        .then(function (response) {
          var answer = response.data;
          console.log(response.data);
          me.slug_create = answer.create;
          me.slug_show = answer.show;
          me.slug_update = answer.update;
          me.slug_active=answer.active;
          me.slug_desactive=answer.desactive;
        })
        .catch(function (error) {
          console.log(error);
          // return error;
        });
    },
    changeData(data) {
      console.log("no se si contesta");
      console.log(data);
    },
    index(page, search, criterion) {
      //consulta a la base de datos de las lista de usuarios
      let me = this;
      let url =
        "/user?page=" + page + "&search=" + search + "&criterion=" + criterion;
      axios
        .get(url)
        .then(function (response) {
          var answer = response.data;
          me.users = answer.users.data;
          me.pagination = answer.pagination;
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        });
    },

    assignInformation(data) {
      // asigna informacion de un usuario a un objeto para mostrar o editar informacion
      this.iuser.id = data.id;
      this.iuser.name = data.name;
      this.iuser.last_name = data.last_name;
      this.iuser.identity_card = data.identity_card;
      this.iuser.expended = data.expended;
      this.iuser.email = data.email;
      this.iuser.phone = data.phone;
      this.iuser.username = data.username;
      this.iuser.password = data.password;
      this.iuser.created_at = data.created_at;
      this.iuser.updated_at = data.updated_at;

      this.iuser.state = data.state;
      this.iuser.roles_id = data.roles;
      this.iuser.roles = data.roles;
    },
    emptyInformation() {
      //elimina la informacion  del objeto usuario para crear un nuevo usuario o cerrar el modal
      this.iuser = {
        id: 0,
        name: "",
        last_name: "",
        identity_card: "",
        expended: "0",
        phone: "",
        email: "",
        username: "",
        password: "12345678",
        roles_id: [],
        state: "0",
        created_at: "",
        updated_at: "",
        roles: [],
        reset_password: false,
      };
    },
    openForm(title, action, data = []) {
      //abre el modal
      this.modal = true;
      this.action = action;
      this.titleForm = title;
      switch (action) {
        case "create": {
          this.typeAction = 3; //si es 3 es para agregar nuevo
          this.emptyInformation();
          break;
        }
        case "update": {
          this.typeAction = 2; //si es 2 es para editar
          this.assignInformation(data);
          break;
        }
        case "view": {
          this.typeAction = 1; //si es 1es para mostrar
          this.assignInformation(data);
          break;
        }
      }
    },

    closeForm(d) {
      //elimina la informacion para que se cierre el modal
      this.modal = d.modal;
      this.titleForm = "";
      this.emptyInformation();
      this.typeAction = 0;
      if (d.acction) {
        this.index(1, "", "");
      }
    },
    changePage(page, search, criterion) {
      let me = this;
      //actualiar pagina
      me.pagination.current_page = page;
      //envia la peticion para visualiar la data de la pagina
      me.index(page, search, criterion);
    },
    activate(id) {
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-success",
          cancelButton: "btn btn-danger",
        },
        buttonsStyling: false,
      });

      swalWithBootstrapButtons
        .fire({
          title: "Estas seguro de activar al usuario?",
          //   text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Si, activar",
          cancelButtonText: "No, cancelar!",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.value) {
            axios
              .put("/user/activate", { id: id })
              .then((result) => {
                swalWithBootstrapButtons.fire(
                  "Activado!",
                  "El usuario fue activado con exito.",
                  "success"
                );
                this.index(1, "", "");
              })
              .catch((err) => {
                console.log(err);
              });
          } else if (
            /* Read more about handling dismissals below */
            result.dismiss === Swal.DismissReason.cancel
          ) {
            // swalWithBootstrapButtons.fire(
            //   "Cancelled",
            //   "Your imaginary file is safe :)",
            //   "error"
            // );
          }
        });
    },
    deactivate(id) {
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-success",
          cancelButton: "btn btn-danger",
        },
        buttonsStyling: false,
      });

      swalWithBootstrapButtons
        .fire({
          title: "Estas seguro de desactivar al usuario?",
          //   text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Si, desactivar",
          cancelButtonText: "No, cancelar!",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.value) {
            axios
              .put("/user/deactivate", { id: id })
              .then((result) => {
                swalWithBootstrapButtons.fire(
                  "Desactivado!",
                  "El usuario fue desactivado con exito!.",
                  "success"
                );
                this.index(1, "", "");
              })
              .catch((err) => {
                console.log(err);
              });
          } else if (
            /* Read more about handling dismissals below */
            result.dismiss === Swal.DismissReason.cancel
          ) {
            // swalWithBootstrapButtons.fire(
            //   "Cancelled",
            //   "Your imaginary file is safe :)",
            //   "error"
            // );
          }
        });
    },
  },

  mounted() {
    this.index(1, this.search, this.criterion);
    this.canPermission();
    console.log("Component mounted. index user");
  },
};
</script>

<style>
.color-border {
  color: #a94442;
}
.color-border:focus {
  color: #843534;
}
span {
  display: block;
}
.modal-content {
  width: 100%;
  position: relative !important;
}
.showModal {
  width: 100%;
  display: list-item !important;
  opacity: 1 !important;
  position: relative !important;
  background-color: #2726267a !important;
}
.title-col {
  color: #ecf0f1;
  background: rgba(52, 73, 94, 0.94);
}

.center-col {
  position: relative;
}
</style>



