<template>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 profile_left">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th class="title-col">Usuario</th>
              <td>{{iuser.username}}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="title-col">Nombre</th>
              <td>{{iuser.name}}</td>
            </tr>
            <tr>
              <th class="title-col">Apellidos</th>
              <td>{{iuser.last_name}}</td>
            </tr>
            <tr>
              <th class="title-col">C.I</th>
              <td>{{iuser.identity_card}} {{iuser.expended}}</td>
            </tr>
            <tr>
              <th class="title-col">Telefono</th>
              <td>{{iuser.phone}}</td>
            </tr>
            <tr>
              <th class="title-col">Email</th>
              <td>{{iuser.email}}</td>
            </tr>
            <tr>
              <th class="title-col">Estado</th>
              <td
                v-bind:class="iuser.state?'text-success':'text-danger'"
              >{{iuser.state?'Activo':'Inactivo'}}</td>
            </tr>
            <tr>
              <th class="title-col">Fecha de registro</th>
              <td>{{moment(iuser.created_at).format('DD/MM/YYYY, H:mm')}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12 profile_left">
        <div class="table-responsive" >
          <table class="table table-striped table-bordered  jambo_table bulk_action">
            <thead>
              <tr >
                <th class="column-title" >Rol</th>
                <th class="column-title">Descripcion</th>

                <th class="column-title" >Acceso total</th>
                <th class="column-title" >Fecha de asignacion</th>
              </tr>
            </thead>
            <tbody>
              <!--<tr>
                <th>Slug</th>
                <td>{{role.slug}}</td>
              </tr>-->
              <tr v-for="role in iuser.roles" :key="role.id">
                <td>{{role.name}}</td>
                <td>{{role.description}}</td>


                <td>{{role.full_access?'SI':'NO'}}</td>

                <td>{{moment(role.pivot.created_at).format('DD/MM/YYYY, H:mm')}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
Vue.prototype.moment = moment;
export default {
  props: ["iuser"],

  mounted() {
    console.log("Component mounted.");
  },
};
</script>
<style>
.text-success {
  color: green !important;
}


</style>
