<template>
  <div>
    <div class="page-title">
      <div class="title_left">
        <h3>{{title}}</h3>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</template>

<script>
export default {
  props: ["title"],

  mounted() {
    console.log("Component mounted Page Title");
  }
};
</script>
