<template>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{titleForm}}</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <template v-if="typeAction==1">
            <role-show :irole="irole"></role-show>
          </template>
          <template v-else>
            <ValidationObserver ref="formRole">
              <form method="post" id="demo-form" data-parsley-validate>
                <!-- Inicio de campo nombre rol -->
                <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider
                    tag="div"
                    name="Nombre"
                    rules="required|alpha_spaces"
                    v-slot="{ errors }"
                  >
                    <label v-bind:class="errors[0]||err.name? 'text-danger':''" for="name">Nombre:</label>
                    <input
                      v-model="irole.name"
                      type="text"
                      id="name"
                      class="form-control"
                      name="name"
                      required
                    />
                    <span class="text-danger">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <template v-show="err.name">
                    <div v-for="e in err.name" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <!-- Fin de campo nombre rol -->
                <!-- Inicio campo slug  -->
                <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider tag="div" name="Slug" rules="required" v-slot="{ errors }">
                    <label v-bind:class="errors[0]||err.slug? 'text-danger':''" for="slug">Slug</label>
                    <input v-model="irole.slug" type="text" id="slug" class="form-control" required />
                    <span class="text-danger">{{ errors[0]}}</span>
                  </ValidationProvider>
                  <template v-show="err.slug">
                    <div v-for="e in err.slug" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <!-- Fin de campo nombre slug -->
                <!-- Fin de campo nombre Acceso total -->
                <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider
                    tag="div"
                    name="Acceso total"
                    rules
                    vid="irole.full_access"
                    v-slot="{errors}"
                  >
                    <label
                      v-bind:class="errors[0]||err.full_access? 'text-danger':''"
                      for="full_access"
                    >Acceso total*:</label>
                    <select
                      v-model="irole.full_access"
                      name="irole.full_access"
                      id="full_access"
                      class="select2_single form-control"
                      required
                      @change="selectFullAccess"
                    >
                      <option value="yes">Si</option>
                      <option value="no">No</option>
                    </select>
                    <span class="text-danger">{{ errors[0]}}</span>
                  </ValidationProvider>
                  <template v-show="err.full_access">
                    <div v-for="e in err.full_access" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <!-- Fin campo acceso total -->
                <!-- inicio Campo descripcion -->
                <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider
                    tag="div"
                    name="Descripcion"
                    rules="alpha_spaces"
                    v-slot="{ errors }"
                  >
                    <label
                      v-bind:class="errors[0]||err.description? 'text-danger':''"
                      for="description"
                    >Descripcion</label>
                    <textarea
                      v-model="irole.description"
                      type="area"
                      id="description"
                      class="form-control"
                      data-parsley-trigger="change"
                      required
                      rows="2"
                    ></textarea>
                    <span class="text-danger">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <template v-show="err.description">
                    <div v-for="e in err.description" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <!-- Fin Campo descripcion -->
                <!-- Inicio Campo Permisos -->
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <ValidationProvider
                    tag="div"
                    name="Permisos"
                    rules="required_if:irole.full_access,no"
                    v-slot="{ errors }"
                  >
                    <label
                      v-bind:class="errors[0]||err.full_access? 'text-danger':''"
                      class="typo__label"
                    >Permisos*</label>

                    <multiselect
                      v-model="irole.permissions_id"
                      :options="permissions"
                      :multiple="true"
                      :searchable="true"
                      :close-on-select="false"
                      :clear-on-select="false"
                      :preserve-search="true"
                      open-direction="bottom"
                      :optionHeight="5"
                      selectLabel="Precione enter para seleccionar"
                      deselectLabel="Precione enter para deseleccionar"
                      selectedLabel="Seleccionaldo"
                      :limitText="count => ` ${count} permisos seleccionados  `"
                      :placeholder="irole.full_access=='yes'?'Tiene acceso a todos los permisos':'Puede selecionar mas de un permiso'"
                      label="name"
                      track-by="name"
                      :hide-selected="true"
                      :disabled="irole.full_access=='yes'?true:false"
                    ></multiselect>
                    <span class="text-danger">{{ errors[0]}}</span>
                  </ValidationProvider>
                  <template v-show="err.permissions_id">
                    <div v-for="e in err.permissions_id" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <!-- Muestra los permisos seleccionados en un span -->

                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                  <p>
                    <em>* campos importantes!</em>
                  </p>
                </div>

                <!-- fin Campo Permisos -->
              </form>
            </ValidationObserver>
          </template>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              @click="closeFormRole(false)"
            >Cerrar</button>
            <button
              v-show="typeAction!=1"
              @click="validateForm()"
              type="button"
              class="btn btn-primary"
            >{{typeAction==3?'Guardar':'Actualizar'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
//inico importar el  show de modelo
Vue.component("role-show", require("./ShowRole.vue").default);
import Vue from "vue";
//fin importar el  show de modelo

// inicio importar vee validate
import { ValidationObserver, ValidationProvider, extend } from "vee-validate";

// import { extend } from 'vee-validate';
import * as rules from "vee-validate/dist/rules";
import { messages } from "vee-validate/dist/locale/es.json";

extend("nullable", {
  validate: (value) => {
    return true;
  },
});
Object.keys(rules).forEach((rule) => {
  extend(rule, {
    ...rules[rule], // copies rule configuration
    message: messages[rule], // assign message
  });
});
// Vue.component("ValidationObserver", ValidationObserver);
// Vue.component("ValidationProvider", ValidationProvider);
// fin de de importar vee validate
import Multiselect from "vue-multiselect";

export default {
  props: ["irole", "titleForm", "typeAction", "modal"],
  components: {
    ValidationObserver,
    ValidationProvider,
    Multiselect,
  },
  mounted() {
    console.log("Component mounted Form.");
    this.listPermissions();
  },
  data() {
    return {
      //   selectPermissions: [],
      // irole.permissions_id: [],
      permissions: [],
      isLoading: false,
      err: "",
    };
  },

  methods: {
    selectFullAccess() {
      if (this.irole.full_access == "yes") {
        this.irole.permissions_id = [];
      }
    },
    validateForm() {
      this.$refs.formRole.validate().then((success) => {
        if (!success) {
          return;
        }
        if (this.typeAction == 3) {
          this.create();
        } else if (this.typeAction == 2) {
          this.update();
        }

        this.$nextTick(() => {
          this.$refs.formRole.reset();
        });
      });
    },
    closeFormRole(ac) {
      let data = {
        acction: ac,
        modal: !this.modal,
      };
      this.$emit("closeFormRole", data);

      this.err = "";
    },
    take_id(ps) {
      let pss = [];
      ps.forEach((p) => {
        pss.push(p.id);
      });
      return pss;
    },
    update() {
      //modifica en la base de datos la informacion de un usuario existente
      let me = this;

      //   console.log(me.irole);
      let p_select = me.take_id(me.irole.permissions_id);

      axios
        .put("role/update", {
          name: me.irole.name,
          slug: me.irole.slug,
          description: me.irole.description,
          full_access: me.irole.full_access,
          permissions_id: p_select,
          permissions: me.irole.permissions,
          id: me.irole.id,
        })
        .then(function (response) {
          //   me.closeFormRole();

          me.closeFormRole(true);
        })
        .catch(function (error) {
          // handle error
          me.err = error.response.data.errors;

          console.log(error);
        });
    },
    create() {
      // guarda en la base de datos a un nuevo usuario

      let me = this;
      let p_select = me.take_id(me.irole.permissions_id);
      console.log(p_select);
      axios
        .post("role/store", {
          name: me.irole.name,
          slug: me.irole.slug,
          description: me.irole.description,
          full_access: me.irole.full_access,
          permissions_id: p_select,
          permissions: me.irole.permissions,
        })
        .then(function (response) {
          me.closeFormRole(true);
        })
        .catch(function (error) {
          // handle error
          me.err = error.response.data.errors;
          console.log(error);
        });
    },

    listPermissions() {
      //lista de permissions que se mostrara en el formulario
      let me = this;
      let url = "/get/permissions";
      axios.get(url).then(function (response) {
        var answer = response.data;
        me.permissions = answer.permissions;
        me.agregar();
      });
    },

    agregar() {
      //lista de permissions que se mostrara en el formulario
      let me = this;

      console.log(me.permissions);
    },
  },
};
// (?=.*[0-9]{5})[/-][A-E]{0,2}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
.color-border {
  color: #a94442;
}
.color-border:focus {
  color: #843534;
}
span {
  display: block;
}
.modal-content {
  width: 100%;
  position: absolute !important;
}
.showModal {
  overflow: hidden;
  width: 100%;
  display: list-item !important;
  opacity: 1 !important;
  position: absolute !important;
  background-color: #2726267a !important;
}

/**
               <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                  <label
                    v-bind:class="err.rolename? 'text-danger':''"
                    for="phone"
                  >Telefono/Celular * :</label>
                  <input
                    v-model="irole.phone"
                    type="number"
                    id="phone"
                    class="form-control"
                    name="phone"
                    data-parsley-trigger="change"
                    required
                  />
                  <template v-show="err.phone">
                    <div v-for="e in err.phone" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider
                    tag="div"
                    name="Email"
                    rules="required|email"
                    v-slot="{ errors }"
                  >
                    <label
                      v-bind:class="errors[0]||err.email? 'text-danger':''"
                      for="email"
                    >Email * :</label>
                    <input
                      v-model="irole.email"
                      type="email"
                      id="email"
                      class="form-control"
                      name="email"
                      data-parsley-trigger="change"
                      required
                    />
                    <span class="text-danger">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <template v-show="err.email">
                    <div v-for="e in err.email" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider tag="div" name="Usuario" rules="required" v-slot="{ errors }">
                    <label
                      v-bind:class="errors[0]||err.rolename? 'text-danger':''"
                      for="rolename"
                    >Usuario</label>
                    <input
                      v-model="irole.rolename"
                      type="text"
                      id="rolename"
                      class="form-control"
                      name="rolename"
                      data-parsley-trigger="change"
                      required
                    />
                    <span class="text-danger">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <template v-show="err.rolename">
                    <div v-for="e in err.rolename" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider
                    tag="div"
                    name="Rol"
                    rules="required|excluded:0"
                    v-slot="{ errors }"
                  >
                    <label
                      v-bind:class="errors[0]||err.role_id? 'text-danger':''"
                      for="role_id"
                    >Rol*:</label>
                    <select
                      v-model="irole.role_id"
                      name="role_id"
                      id="role_id"
                      class="form-control"
                      required
                    >
                      <option value="0">Selecciona</option>
                      <option
                        v-for="role in permissions"
                        :key="role.id"
                        :value="role.id"
                        :v-bind="irole.role_id===role.id?'selected':''"
                        v-text="role.name"
                      ></option>
                    </select>
                    <span class="text-danger">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <template v-show="err.role_id">
                    <div v-for="e in err.role_id" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <template v-if="typeAction!=3">
                  <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                    <label for="password">Contraseña</label>

                    <div class="checkbox">
                      <label>
                        <input
                          @change="defaultPassword()"
                          v-model="irole.reset_password"
                          type="checkbox"
                          class="flat"
                        /> Resetear Contraseña por defecto
                      </label>
                    </div>
                  </div>
                </template>

 */
</style>



