<template>

    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 profile_left">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th class="title-col">Rol</th>
              <td>{{irole.name}}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="title-col">Slug</th>
              <td>{{irole.slug}}</td>
            </tr>
            <tr>
              <th class="title-col">Descripcion</th>
              <td>{{irole.description}}</td>
            </tr>
            <tr>
              <th class="title-col">Acceso total</th>
              <td
                v-bind:class="irole.full_access=='yes' ?'text-success':'text-danger'"
              >{{irole.full_access=="yes"?'Si':'No'}}</td>
            </tr>
            <tr>
              <th class="title-col">Estado</th>
              <td
                v-bind:class="irole.state?'text-success':'text-danger'"
              >{{irole.state?'Activo':'Inactivo'}}</td>
            </tr>
            <tr>
              <th class="title-col">Fecha de registro</th>
              <td>{{irole.created_at}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="table-responsive">
          <table class="table table-striped table-bordered jambo_table bulk_action">
            <thead>
              <tr>
                <th class="column-title">Permiso</th>
                <!--<th class="column-title">Identificador</th>-->
                <th class="column-title">Descripcion</th>
                <th class="column-title">Fecha de asignacion</th>
              </tr>
            </thead>
            <tbody>
              <template v-if="irole.full_access=='no'">
                <tr v-for="permission in irole.permissions" :key="permission.id">
                  <td>{{permission.name}}</td>
                  <!--<td>{{permission.slug}}</td>-->
                  <td>{{permission.description}}</td>
                  <td>{{moment(permission.pivot.created_at).format('DD/MM/YYYY, H:mm')}}</td>
                </tr>
              </template>
              <template v-else>
                <tr >
                  <td colspan="3" for>Tiene acceso a todos los permisos de sistema</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>

</template>

<script>
export default {
  props: ["irole"],

  mounted() {
    console.log("Mostrar Rol");
  },
};
</script>
<style>
.text-success {
  color: green !important;
}
</style>
