<template>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{titleForm}}</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <template v-if="typeAction==1">
            <permission-show :ipermission="ipermission"></permission-show>
          </template>
          <template v-else>
            <ValidationObserver ref="formPermission">
              <form method="post" id="demo-form" data-parsley-validate>
                <!-- Inicio de campo nombre rol -->
                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider
                    tag="div"
                    name="Nombre"
                    rules="required|alpha_spaces"
                    v-slot="{ errors }"
                  >
                    <label v-bind:class="errors[0]||err.name? 'text-danger':''" for="name">Nombre:</label>
                    <input
                      v-model="ipermission.name"
                      type="text"
                      id="name"
                      class="form-control"
                      name="name"
                      required
                    />
                    <span class="text-danger">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <template v-show="err.name">
                    <div v-for="e in err.name" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <!-- Fin de campo nombre rol -->
                <!-- Inicio campo slug  -->
                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                  <ValidationProvider tag="div" name="Slug" rules="required" v-slot="{ errors }">
                    <label v-bind:class="errors[0]||err.slug? 'text-danger':''" for="slug">Slug</label>
                    <input
                      v-model="ipermission.slug"
                      type="text"
                      id="slug"
                      class="form-control"
                      required
                    />
                    <span class="text-danger">{{ errors[0]}}</span>
                  </ValidationProvider>
                  <template v-show="err.slug">
                    <div v-for="e in err.slug" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <!-- Fin de campo nombre slug -->
                <!-- inicio Campo descripcion -->
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                  <ValidationProvider
                    tag="div"
                    name="Descripcion"
                    rules="alpha_spaces"
                    v-slot="{ errors }"
                  >
                    <label
                      v-bind:class="errors[0]||err.description? 'text-danger':''"
                      for="description"
                    >Descripcion</label>
                    <textarea
                      v-model="ipermission.description"
                      type="area"
                      id="description"
                      class="form-control"
                      data-parsley-trigger="change"
                      required
                      rows="2"
                    ></textarea>
                    <span class="text-danger">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <template v-show="err.description">
                    <div v-for="e in err.description" :key="e.id" class="text-danger" v-text="e"></div>
                  </template>
                </div>
                <!-- Fin Campo descripcion -->
                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                  <p>
                    <em>* campos importantes!</em>
                  </p>
                </div>
              </form>
            </ValidationObserver>
          </template>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal"
              @click="closeFormPermission(false)"
            >Close</button>
            <button
              v-show="typeAction!=1"
              @click="validateForm()"
              type="button"
              class="btn btn-primary"
            >{{typeAction==3?'Guardar':'Actualizar'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
//inico importar el  show de modelo
Vue.component("permission-show", require("./ShowPermission.vue").default);
import Vue from "vue";
//fin importar el  show de modelo

// inicio importar vee validate
import { ValidationObserver, ValidationProvider, extend } from "vee-validate";

// import { extend } from 'vee-validate';
import * as rules from "vee-validate/dist/rules";
import { messages } from "vee-validate/dist/locale/es.json";

extend("nullable", {
  validate: (value) => {
    return true;
  },
});
Object.keys(rules).forEach((rule) => {
  extend(rule, {
    ...rules[rule], // copies rule configuration
    message: messages[rule], // assign message
  });
});
// Vue.component("ValidationObserver", ValidationObserver);
// Vue.component("ValidationProvider", ValidationProvider);
// fin de de importar vee validate

export default {
  props: ["ipermission", "titleForm", "typeAction", "modal"],
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  mounted() {
    console.log("Component mounted Form.");
  },
  data() {
    return {
      err: "",
    };
  },

  methods: {
    validateForm() {
      this.$refs.formPermission.validate().then((success) => {
        if (!success) {
          return;
        }
        if (this.typeAction == 3) {
          this.create();
        } else if (this.typeAction == 2) {
          this.update();
        }

        this.$nextTick(() => {
          this.$refs.formPermission.reset();
        });
      });
    },
    closeFormPermission(ac) {
      let data = {
        acction: ac,
        modal: !this.modal,
      };
      this.$emit("closeFormPermission", data);
      this.$nextTick(() => {
        this.$refs.formPermission.reset();
      });
      this.err = "";
    },
    update() {
      //modifica en la base de datos la informacion de un usuario existente
      let me = this;
      console.log(me.ipermission);
      axios
        .put("permission/update", {
          name: me.ipermission.name,
          slug: me.ipermission.slug,
          description: me.ipermission.description,
          id: me.ipermission.id,
        })
        .then(function (response) {
          //   me.closeFormPermission();

          me.closeFormPermission(true);
        })
        .catch(function (error) {
          // handle error
          me.err = error.response.data.errors;

          console.log(error);

          console.log(me.err);
        });
    },
    create() {
      // guarda en la base de datos a un nuevo usuario
      let me = this;
      axios
        .post("permission/store", {
          name: me.ipermission.name,
          slug: me.ipermission.slug,
          description: me.ipermission.description,
        })
        .then(function (response) {
          me.closeFormPermission(true);
        })
        .catch(function (error) {
          // handle error
          me.err = error.response.data.errors;
          console.log(error);
        });
    },
  },
};
// (?=.*[0-9]{5})[/-][A-E]{0,2}
</script>
<style>
.color-border {
  color: #a94442;
}
.color-border:focus {
  color: #843534;
}
span {
  display: block;
}
.modal-content {
  width: 100%;
  position: absolute !important;
}
.showModal {
  width: 100%;
  display: list-item !important;
  opacity: 1 !important;
  position: absolute !important;
  background-color: #2726267a !important;
}
</style>



