<template>
  <div>
    <div class="right_col" permission="main">
      <div class>
        <div class="page-title">
          <div class="title_left">
            <h3>permissions</h3>
          </div>
        </div>

        <div class="clearfix"></div>
        <template v-if="typeAction==0">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <!-- <h2>Lista de permissions</h2>-->
                  <div class="title_left">
                    <div class="col-md-4 col-sm-6 col-xs-12 form-group top_search">
                      <div class="input-group">
                        <input
                          v-model="search"
                          type="text"
                          class="form-control"
                          placeholder="Buscar"
                        />
                        <span class="input-group-btn">
                          <button
                            @click="index(1,search,'')"
                            class="btn btn-default"
                            type="button"
                          >Buscar</button>
                        </span>
                      </div>
                    </div>
                  </div>

                  <ul class="nav navbar-right panel_toolbox">
                    <li>
                      <button v-if="slug_create"
                        type="button"
                        class="btn btn-primary"
                        @click="openModal('Agregar nuevo permission','create')"
                      >Agregar</button>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                      <thead>
                        <tr class="headings">
                          <th class="column-title">#</th>
                          <th class="column-title">Nombre</th>
                          <th class="column-title">Slug</th>
                          <th class="column-title">Descripcion</th>
                          <th class="column-title">Estado</th>

                          <th class="column-title no-link last">
                            <span class="nobr">Action</span>
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr
                          v-for="permission in permissions"
                          :key="permission.id"
                          class="even pointer"
                        >
                          <td>{{permission.id}}</td>
                          <td class v-text="permission.name"></td>
                          <td class v-text="permission.slug"></td>
                          <td class v-text="permission.description"></td>
                          <td class>
                            <span
                              v-bind:class="permission.state?'label-success':'label-danger'"
                              class="label"
                              v-text="permission.state?'Activo':'Inactivo'"
                            ></span>
                          </td>

                          <td class="last">
                            <button v-if="slug_show"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Mostrar"
                              type="button"
                              class="btn btn-dark btn-sm"
                              @click="openModal('Mostrar informacion del permission','view',permission)"
                            >
                              <i class="fa fa-eye"></i>
                            </button> &nbsp;
                            <button v-if="slug_update"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Editar"
                              type="button"
                              class="btn btn-warning btn-sm"
                              @click="openModal('Editar informacion del permission','update',permission)"
                            >
                              <i class="fa fa-pencil"></i>
                            </button> &nbsp;
                            <template v-if="permission.state &&slug_active">
                              <button
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Desactivar"
                                type="button"
                                class="btn btn-danger btn-sm"
                                @click="deactivate(permission.id)"
                              >
                                <i class="fa fa-trash"></i>
                              </button>
                            </template>
                            <template v-else-if="!permission.state &&slug_desactive">
                              <button
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Activar"
                                type="button"
                                class="btn btn-success btn-sm"
                                @click="activate(permission.id)"
                              >
                                <i class="fa fa-check"></i>
                              </button>
                            </template>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <nav>
                      <ul class="pagination">
                        <li class="page-item" v-if="pagination.current_page > 1">
                          <a
                            class="page-link"
                            href="#"
                            @click.prevent="changePage(pagination.current_page-1,search,criterion)"
                          >Ant</a>
                        </li>
                        <li
                          class="page-item"
                          v-for="page in pagesNumber"
                          :key="page"
                          :class="[page == isActived ? 'active' : '']"
                        >
                          <a
                            class="page-link"
                            href="#"
                            @click.prevent="changePage(page,search,criterion)"
                            v-text="page"
                          ></a>
                        </li>
                        <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                          <a
                            class="page-link"
                            href="#"
                            @click.prevent="changePage(pagination.current_page+1,search,criterion)"
                          >Sig</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
        <template v-else>
          <form-permission
            @closeFormPermission="closeFormPermission"
            :ipermission="ipermission"
            :titleForm="titleForm"
            :typeAction="typeAction"
            :modal="modal"
            :action="action"
          ></form-permission>
        </template>
      </div>
    </div>
  </div>
</template>


<script>
Vue.component("form-permission", require("./FormPermission.vue").default);
//inico importar el  sweetalert2
import Swal from "sweetalert2";

import "sweetalert2/src/sweetalert2.scss";
//inico importar el  sweetalert2
export default {
  data() {
    return {
        // inicio de permisos de el usuario registrado
      slug_create: false,
      slug_update: false,
      slug_show: false,
      slug_active: false,
      slug_desactive: false,

      s_create: "permission.create",
      s_update: "permission.update",
      s_show: "permission.show",
      s_active: "permission.active",
      s_desactive: "permission.desactive",

      // fin de permisos de el usuario registrado
      // inicio de las variables de busqueda
      criterion: "name",
      search: "",
      permissions: [],
      // inicio de las variables de busqueda

      // inicio de las variables de apertura de modal
      modal: false,
      action: "",
      typeAction: 0,
      titleForm: "",
      // fin de las variables de apertura de modal

      // inicio de las variables de la paginacion paginacion
      pagination: {
        total: 0,
        current_page: 0,
        per_page: 0,
        last_page: 0,
        from: 0,
        to: 0,
      },
      offset: 3,
      // fin de las variables de la paginacion paginacion

      //inicio del modelo de componente que se trabaja
      ipermission: {
        id: "0",
        name: "",
        slug: "",
        description: "",
        state: "0",
        created_at: "",
      },
      //fin del modelo de componente que se trabaja
    };
  },

  computed: {
    isActived: function () {
      return this.pagination.current_page;
    },
    //calcula la paginacion de los elementos
    pagesNumber: function () {
      if (!this.pagination.to) {
        return [];
      }
      var from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }
      var to = from + this.offset * 2;
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }
      var pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from++;
      }
      return pagesArray;
    },
  },
  methods: {
      canPermission() {
      let me = this;
      let url =
        "/user/authentication?create=" +
        me.s_create +
        "&show=" +
        me.s_show +
        "&update=" +
        me.s_update +
        "&active=" +
        me.s_active +
        "&desactive=" +
        me.s_desactive;
      //
      axios
        .get(url)
        .then(function (response) {
          var answer = response.data;
          console.log(response.data);
          me.slug_create = answer.create;
          me.slug_show = answer.show;
          me.slug_update = answer.update;
          me.slug_active=answer.active;
          me.slug_desactive=answer.desactive;
        })
        .catch(function (error) {
          console.log(error);
          // return error;
        });
    },
    index(page, search, criterion) {
      //consulta a la base de datos de las lista de permissions
      let me = this;
      let url =
        "/permission?page=" +
        page +
        "&search=" +
        search +
        "&criterion=" +
        criterion;
      axios
        .get(url)
        .then(function (response) {
          var answer = response.data;
          me.permissions = answer.permissions.data;
          me.pagination = answer.pagination;
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        });
    },

    assignInformation(data) {
      // asigna informacion de un permission a un objeto para mostrar o editar informacion
      this.ipermission.id = data.id;
      this.ipermission.name = data.name;
      this.ipermission.slug = data.slug;
      this.ipermission.description = data.description;
      this.ipermission.state = data.state;
      this.ipermission.created_at = data.created_at;
    },
    emptyInformation() {
      //elimina la informacion  del objeto permission para crear un nuevo permission o cerrar el modal
      this.ipermission = {
        id: "0",
        name: "",
        slug: "",
        description: "",
        state: "0",
        created_at: "",
      };
    },
    openModal(title, action, data = []) {
      //abre el modal
      this.modal = true;
      this.action = action;
      this.titleForm = title;
      switch (action) {
        case "create": {
          this.typeAction = 3; //si es 3 es para agregar nuevo
          this.emptyInformation();
          break;
        }
        case "update": {
          this.typeAction = 2; //si es 2 es para editar
          this.assignInformation(data);
          break;
        }
        case "view": {
          this.typeAction = 1; //si es 1es para mostrar
          this.assignInformation(data);
          break;
        }
      }
    },

    closeFormPermission(d) {
      //funcion que escucha el eventoi de cerrar en el modal
      //elimina la informacion para que se cierre el modal
      this.modal = d.modal;
      this.titleForm = "";
      this.emptyInformation();
      this.typeAction = 0;
      if (d.acction) {
        this.index(1, "", "");
      }
    },
    changePage(page, search, criterion) {
      let me = this;
      //actualiar pagina
      me.pagination.current_page = page;
      //envia la peticion para visualiar la data de la pagina
      me.index(page, search, criterion);
    },
    activate(id) {
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-success",
          cancelButton: "btn btn-danger",
        },
        buttonsStyling: false,
      });

      swalWithBootstrapButtons
        .fire({
          title: "Estas seguro de activar al permiso?",
          //   text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Si, activar",
          cancelButtonText: "No, cancelar!",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.value) {
            axios
              .put("/permission/activate", { id: id })
              .then((result) => {
                swalWithBootstrapButtons.fire(
                  "Activado!",
                  "El permiso fue activado con exito.",
                  "success"
                );
                this.index(1, "", "");
              })
              .catch((err) => {
                console.log(err);
              });
          } else if (
            /* Read more about handling dismissals below */
            result.dismiss === Swal.DismissReason.cancel
          ) {
            // swalWithBootstrapButtons.fire(
            //   "Cancelled",
            //   "Your imaginary file is safe :)",
            //   "error"
            // );
          }
        });
    },
    deactivate(id) {
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-success",
          cancelButton: "btn btn-danger",
        },
        buttonsStyling: false,
      });

      swalWithBootstrapButtons
        .fire({
          title: "Estas seguro de desactivar al permiso?",
          //   text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Si, desactivar",
          cancelButtonText: "No, cancelar!",
          reverseButtons: true,
        })
        .then((result) => {
          if (result.value) {
            axios
              .put("/permission/deactivate", { id: id })
              .then((result) => {
                swalWithBootstrapButtons.fire(
                  "Desactivado!",
                  "El permiso fue desactivado con exito!.",
                  "success"
                );
                this.index(1, "", "");
              })
              .catch((err) => {
                console.log(err);
              });
          } else if (
            /* Read more about handling dismissals below */
            result.dismiss === Swal.DismissReason.cancel
          ) {
            // swalWithBootstrapButtons.fire(
            //   "Cancelled",
            //   "Your imaginary file is safe :)",
            //   "error"
            // );
          }
        });
    },
  },

  mounted() {
    this.index(1, this.search, this.criterion);
    this.canPermission();
    console.log("Component mounted index permission");
  },
};
</script>




