<template>
  <div class="row center-col">
    <div class="col-md-12 col-sm-12 col-xs-12 profile_left">
      <div>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th class="title-col">Rol</th>
              <td>{{ipermission.name}}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="title-col">Slug</th>
              <td>{{ipermission.slug}}</td>
            </tr>
            <tr>
              <th class="title-col">Descripcion</th>
              <td>{{ipermission.description}}</td>
            </tr>

            <tr>
              <th class="title-col">Estado</th>
              <td
                v-bind:class="ipermission.state?'text-success':'text-danger'"
              >{{ipermission.state?'Activo':'Inactivo'}}</td>
            </tr>
            <tr>
              <th class="title-col">Fecha de registro</th>
              <td>{{ipermission.created_at}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["ipermission"],

  mounted() {
    console.log("Mostrar Permisos");
  },
};
</script>
<style>
.text-success {
  color: green !important;
}
</style>
